ion-title {
    line-height: 50px;
    background: url(../../assets/logo.svg) no-repeat left center;
    background-size: 60px;
    padding-left: 50px;
}

ion-grid {
    height: 100%;
}

ion-content {
    --background: var(--ion-color-dark-tint)
}

ion-row {
    height: 100%;
}

ion-card {
    --background: var(--ion-color-light);
}

ion-item {
    margin-bottom: 1em;
}

.signUp {
    color: var(--ion-color-primary);
    text-decoration: none;
}