<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button fill="solid" color="danger" (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Assigned Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
  <ion-grid>
    <ion-row class="ion-align-items-center" *ngIf="event.assignedEvent == ''; else pending">
      <ion-col size="12" class="ion-align-self-center">
        <ion-text color="medium">
          <h1>You are not currently assigned to an event!</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ng-template #pending>
      <ion-row class="ion-align-items-center" *ngIf="acceptedResponse == null; else current">
        <ion-col size="12" class="ion-align-self-center">
          <ion-text color="medium">
            <h1>You are assigned to an event! DECIDE</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ng-template>

    <ng-template #current>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-align-self-center">
          <ion-text color="medium">
            <h1>You have accepted an event! </h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>
