<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button fill="solid" color="danger" (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Assigned Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
  <ion-grid>
    <ion-row class="ion-align-items-center" *ngIf="!event">
      <ion-col size="12" class="ion-align-self-center">
        <ion-text color="medium">
          <h1>You are not currently assigned to an event!</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
