<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button fill="solid" color="danger" (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Firstaid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fullscreen>
    <ion-row>
      <ion-col size="12"class="ion-align-self-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">My Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="updateDetails()">
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="floating">
                        First name
                      </ion-label>
                      <ion-input [(ngModel)]="user.firstName" type="text" name="fName" value="{{user.firstName}}"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="floating">
                        Surname
                      </ion-label>
                      <ion-input [(ngModel)]="user.surname" type="text" name="surname" value="{{user.surname}}"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="floating">
                        Email
                      </ion-label>
                      <ion-input [(ngModel)]="user.email" type="email" name="email" value="{{user.email}}"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label>On duty</ion-label>
                      <ion-toggle [(ngModel)]="user.active" name="active" color="secondary"></ion-toggle>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-button type="submit" expand="block">Confirm</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>